.title {
    font-size: em(86);
    text-transform: uppercase;
    font-weight: 700;
    color: $gray-color-dark;
    margin-bottom: $gap-larger;
    @include device(mobile){
        font-size: em(45);
        margin-bottom: $gap-medium;
      }
}

.title-numbers {
    font-size: em(120);
    text-transform: uppercase;
    font-weight: 700;
    color: $light-color;
    @include device(mobile){
        font-size: em(70);
      }
}

.sub-title {
    font-size: em(22);
    text-transform: uppercase;
    color: $purple-color;
}

.title-modal {
    font-size: em(25);
    text-transform: uppercase;
    font-weight: 700;
    color: $light-color;
}