.contador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    &__numbers {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: $gap-larger;
        text-align: center;
    }
}