.contador {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    padding: 0 $gap-smaller;
    @include device(mobile){
      height: 60vh;
    }
    &__numbers {
        display: flex;
        width: 100%;
        justify-content: center;
       
        text-align: center;
        @include device(mobile){
          flex-wrap: wrap;
          gap: $gap-small;
        }
    }
    &__digitos {
      padding: 0 $gap-larger;
    }
  
  &.active {
    display: flex;
    animation: up 1s forwards ;
  }  
}

@keyframes up {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}