.modal {
  background-color: $dark-color;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include device(mobile){
    height: calc(100vh - 30px) ;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    @include device(mobile){
      justify-content: space-around;
    }
  }
  &__logo {
    width: 320px;
    margin-bottom: $gap-larger;
  }
  &__form {
    margin-top: $gap-larger;
    margin-bottom: $gap-larger;
    display: flex;
    gap: $gap-small;
    
  }
  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    padding: $gap-small $gap-larger;
    color: $gray-color-light;
    border-radius: 10px;
    font-size: em(28);
    outline-style: none;
    text-align: center;
    border: none;
    @include device(mobile){
      max-width: 90vw;
    }
  }
  &.hidden {
    display: none;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  &__spinner {
    border: 8px solid rgba(221, 221, 221, 0.1);
    border-left-color: $purple-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  &.hidden {
    display: none;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
